body {
    margin: 0;
}

.main-kontakt {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cta-button {
    padding: 10px 14px;
    background: var(--main-color);
    color: #fff;
    border-radius: 0.3rem;
    font-size: 14px;
}

.grid-construction {
    display: flex;
}

.image-right  .image-left {
    width: 200px;
    height: 200px;
}

.carousell {
    display: flex;
    justify-content: space-between;
}


.contact-form, .map, .title, .welcome-message, .carousell {
    text-align: center;
    margin-bottom: 2em;
}

.main-kontakt {
    padding-top: 100px;
}

.map h3 {
    margin-bottom: 2em;
}